streamlit
groq
requests
pandas
numpy
scikit-learn
sentence_transformers
SpeechRecognition
pip==25.0.1
gtts
langdetect
torch
qrcode
pyotp
torchaudio
soundfile
sounddevice
scipy
google.generativeai
openpyxl